<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Showmap</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{ users.id }}</td>
                <td>{{ users.street }} {{user.city}},{{user.country}}</td>


                <td>
                    <a href="" onclick="showmap(google)">Generate Map</a>
                </td>

            </tr>


        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:white;" href="/emp">Add New Record</a></button>
</body>
<script>
    const street = "{{user.street}}"
    const city = "{{user.city}}"
    const country = "{{user.country}}"

    const google = `https://www.google.com/maps/search/${street} ${city} ${country}?entry=ttu`
    function showmap(link) {

        window.open(link, '_blank')
    }
</script>

</html>